/* header */
header {width: 100%;
    padding: 0 265px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    position: fixed;
    z-index: 999;
    white-space: nowrap;
}
header h1 {}
header h1 a img:hover{
    transform: scale(1.1);
}
header h1 a img {width: 100%;}
header nav {}
header nav a:last-child {padding-right: 0;}
header nav a:hover {
    font-size: 1.2rem;
}
header nav a {
    padding-right: 78px;
    font-size: 1.125rem;
    color: #fff;
    font-weight: 600;
}
header .user {
    display: flex;
    align-items: center;
}
header .user a:last-child {padding-right: 0;}
header .user a:hover {
    font-weight: 600;
}
header .user a {
    padding-right: 10px;
    color: #fff;
}
header .user a img:hover {
    transform: scale(1.1);
}
header .user a img {width: 100%;}
/* main */
main {
    margin: 0 auto;
    z-index: 800;
}
main #wrap {}
main #wrap .main1 {

}
main #wrap .main1 video {
    display: block;
    /* width: 100%; */ height: 100%;
    margin: 0 auto;
}
main #wrap .main1 .main1_txt {
    position: absolute; top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap;
    text-align: center;
    color: #fff;
}
main #wrap .main1 .main1_txt p {
    font-size: 2.185rem;
    letter-spacing: -0.02rem;
}
main #wrap .main1 .main1_txt p em {
    font-size: 2.812rem;
    color:#F37321 ;
    font-family: 한화b;
}
main #wrap .main1 .main1_txt p:first-child {
    padding-bottom: 5px;
}
main #wrap .main1 .main1_txt p:nth-child(2) {
    padding-bottom: 10px;
}
main #wrap .main1 .main1_txt p:last-child {
    font-size: 8rem;
    font-family: 한화b;
}
main #wrap .main1 .main1_txt p:last-child img {}

/* full page (반얀트리참고) */        
#wrap .section {
    background-position: center;
    background-size: cover;
}
#wrap .section:nth-child(1) {
    /* background-image: url(../img/main1_bg.png); */
}
#wrap .section:nth-child(2) {
    background-image: url(../img/main2.jpg);
    background-size: 120%;
    background-position: center;
}
#wrap .section:nth-child(3) {
    background-image: url(../img/main3_bg.png);
}
#wrap .section:nth-child(4) { 
    background-image: url(../img/main4_bg.jpg);
}
#wrap .section:nth-child(5) {
    background-image: url(../img/main5_bg.jpg);
}
/* main2 _ products & services */
main #wrap .main2 {
    color: #fff;
}
main #wrap .main2 .main2_bg {
    width: 1200px; 
    margin: 150px auto 0;
    /* display: flex;
    flex-flow:row  nowrap;
    justify-content: space-between; */
}
main #wrap .main2 .main2_bg .info_txt {
    /* position: block; */
}
main #wrap .main2 .main2_bg .info_txt h2 { 
    font-size: 2.2rem;
    font-family: '한화b';
    letter-spacing: 0.2rem;
    line-height: 45px;

}
main #wrap .main2 .main2_bg .info_txt p {
    font-size: 1.25rem;
}
/* main2 - swiper 공통 css */
main #wrap .main2 .main2_bg .swiper {    
    width: 1200px; margin: 0 auto;
}
main #wrap .main2 .main2_bg .swiper .swiper-wrapper {
    width: 100%;
    position: relative;
}
main #wrap .main2 .main2_bg .swiper .swiper-wrapper .swiper-slide {
display: flex;
width: 100%;

}
/* 스와이퍼 bg 색 */
main #wrap .main2 .main2_bg .swiper .swiper-wrapper .slide1 > .txt {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.09) 0%, rgba(0, 0, 0, 0.00) 20.82%), linear-gradient(293deg, rgba(243, 115, 33, 0.20) -7.6%, rgba(0, 0, 0, 0.00) 46.95%), #F37321;
}
main #wrap .main2 .main2_bg .swiper .swiper-wrapper .slide2 > .txt {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.09) 0%, rgba(0, 0, 0, 0.00) 20.82%), #03274B;
} 
main #wrap .main2 .main2_bg .swiper .swiper-wrapper .slide3 > .txt {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.09) 0%, rgba(0, 0, 0, 0.00) 20.82%), linear-gradient(293deg, rgba(0, 0, 0, 0.20) 2.3%, rgba(0, 0, 0, 0.00) 46.98%), #005695;
} 
main #wrap .main2 .main2_bg .swiper .swiper-wrapper .slide4 > .txt {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.09) 0%, rgba(0, 0, 0, 0.00) 20.82%), linear-gradient(293deg, rgba(0, 0, 0, 0.20) 2.3%, rgba(0, 0, 0, 0.00) 46.98%), #B21963;
} 
main #wrap .main2 .main2_bg .swiper .swiper-wrapper .swiper-slide .txt {

    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 50px 50px;
    height: 329px; width: 667px;
    margin-top: 100px;
    position: relative;
    top: 80px;
    z-index: 60;
    margin-left: 10px;
}
main #wrap .main2 .main2_bg .swiper .swiper-wrapper .swiper-slide .txt h2 {
    font-size:  1.5rem;
    font-weight: 700;
    padding-bottom: 35px;
    line-height: 30px;
}
main #wrap .main2 .main2_bg .swiper .swiper-wrapper .swiper-slide .txt p {
    font-size:  1.125rem; 
    white-space: nowrap;
    line-height: 25px;
    padding-bottom: 30px ;
}
main #wrap .main2 .main2_bg .swiper .swiper-wrapper .slide1 .txt .more_btn:hover {
    background: rgba(255, 255, 255, 0.438);
    border: 1px solid rgba(255, 255, 255, 0.438);
    color: #F37321;
    font-weight: 700;
}
main #wrap .main2 .main2_bg .swiper .swiper-wrapper .slide2 .txt .more_btn:hover {
    background: rgba(255, 255, 255, 0.438);
    border: 1px solid rgba(255, 255, 255, 0.438);
    color: #03274B;
    font-weight: 700;
}
main #wrap .main2 .main2_bg .swiper .swiper-wrapper .slide3 .txt .more_btn:hover {
    background: rgba(255, 255, 255, 0.438);
    border: 1px solid rgba(255, 255, 255, 0.438);
    color: #005695;
    font-weight: 700;
}
main #wrap .main2 .main2_bg .swiper .swiper-wrapper .slide4 .txt .more_btn:hover {
    background: rgba(255, 255, 255, 0.438);
    border: 1px solid rgba(255, 255, 255, 0.438);
    color: #B21963;
    font-weight: 700;
}
main #wrap .main2 .main2_bg .swiper .swiper-wrapper .swiper-slide .txt .more_btn {
    color:white ;
    border: 1px solid #fff;
    display: flex;
    border-radius: 50px;
    font-size: 1.125rem;
    width: 193px; 
    padding: 15px 30px;

}
main #wrap .main2 .main2_bg .swiper .swiper-wrapper .swiper-slide .txt .more_btn img {
    padding-left: 15px;
}

main #wrap .main2 .main2_bg .swiper .swiper-wrapper .swiper-slide .info_img {
    position: relative; 
    width: 610px; height: 640px;
    left:-60px;
}
main #wrap .main2 .main2_bg .swiper .swiper-wrapper .swiper-slide .info_img img {
    width: 100%; height: 100%;
}
/* swiper-slide btn */
main #wrap .main2 .main2_bg .slide_btn {
    position: absolute; bottom: 90px;
    
}
main #wrap .main2 .main2_bg .slide_btn a {
    margin: -2px;
}
/* swiper btn */
.swiper-button-prev:hover {
    border:1px solid #ffffff;
}
.swiper-button-next:hover {
    border:1px solid #ffffff;
}
.swiper-button-prev {
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/btn_left.png);
    position: absolute;
    top: 600px ;
    width: 50px; height: 50px ;
}
.swiper-button-next {
    background-image: url(../img/btn_right.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 600px; left: 59px;
    width: 50px; height: 50px;
}
.swiper-button-prev::after,.swiper-button-next::after {display: none;}
/* main3 */
main #wrap .main3 {}
main #wrap .main3 .news_bg {background: rgb(255, 255, 255);
    width: 1200px; margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;


}
main #wrap .main3 .news_bg h2 {
    width: 199px;
    padding-top:90px ;
    text-align: center;
}
main #wrap .main3 .news_bg h2 a {
    font-size: 2.5rem;
    font-family: '한화b';
    padding-left: 30px;
    
}
main #wrap .main3 .news_bg  .news {
    /* width: 500px; 
    padding: 50px 90px; */
    width: 500px; height: 665px; margin: 0 auto;
    /* padding: 50px 0; */
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;


}
main #wrap .main3 .news_bg .news a { 
    width: 440px; height: 490px;
    display: flex;
    flex-flow: column nowrap;

}
main #wrap .main3 .news_bg .news > a > p:first-child { 
    width: 31px; height: 2px;
    
}
main #wrap .main3 .news_bg .news a h3 {
    font-size: 1.5rem;
    font-family: '한화b';
    line-height: 32px;
    text-align: start;
    padding-top:27px ;
    /* padding-bottom: 42px; */
}
main #wrap .main3 .news_bg .news_right a h3 {
    padding-top: 29px;

}
main #wrap .main3 .news_bg .news > a > .news_txt { 
    line-height: 27px;
    padding-top: 42px;
    font-size: 1.13rem;
    line-height: 2rem;
    font-family: notosanskr;
}
main #wrap .main3 .news_bg .news_right > a > .news_txt {
    padding-top: 65px;
}
main #wrap .main3 .news_bg .news > a > .news_date {
    margin-top: 30px;
}
main #wrap .main3 .news_bg .news_left > a > .news_date {
    margin-top: 55px;
} 
main #wrap .main3 .news_bg .center_line {
    background: rgb(128, 128, 128);
    height: 490px; width: 1px;
    margin-top: 95px;
}
/* main 4 */
main #wrap .main4 {
}
main #wrap .main4 .story_bg {
    width: 1200px; margin: 0 auto;
    margin-top: 80px;
}
main #wrap .main4 .story_bg .story_txt {
    width: 100%;    
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
main #wrap .main4 .story_bg .story_txt h2 {
    font-family: '한화b';
    color: #ffF;
    font-size: 2.5rem;
    padding-bottom: 10px;
}
main #wrap .main4 .story_bg .story_txt p {
    padding-bottom:30px ;
    color: #ffF;
    font-size: 1.25rem;
}
main #wrap .main4 .story_bg .story_txt .story_video {
    width: 1200px; height: 590px;
    overflow: hidden; 
} 
main #wrap .main4 .story_bg .story_txt video {
    width: 100%; margin: 0 auto;
    text-align: center;

}
main #wrap .main4 .story_bg .sns {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;    
    padding: 40px 173px 0;
}
main #wrap .main4 .story_bg .sns li {

}
main #wrap .main4 .story_bg .sns li a {
    display:flex;
    align-items: center;
    padding:5px 50px 0;
}
main #wrap .main4 .story_bg .sns li a img:hover {
    transform: scale(1.1);
}
main #wrap .main4 .story_bg .sns li a img {
    padding-right: 25px;
}
main #wrap .main4 .story_bg .sns li a span:hover {
    font-weight: 700;
}
main #wrap .main4 .story_bg .sns li a span {
    color: #fff;
}
/* main 5 */
main #wrap .main5 {

}
main #wrap .main5 .main5_bg {
    width: 1200px; margin: 0 auto;    
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
main #wrap .main5 .main5_bg .employ_left {
    background: url(../img/main5_1.jpg) no-repeat;
    width: 686px; height: 385px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #F37321;
    
}
main #wrap .main5 .main5_bg .employ_left h2 {
    font-family: '한화b';
    font-size: 2.18rem;
    padding-bottom: 10px;
}
main #wrap .main5 .main5_bg .employ_left > p {
    font-size: 1.125rem;
    padding: 20px 0;
    font-weight: 600;
}
main #wrap .main5 .main5_bg .employ_left .more_btn:hover {
    color: #F37321;
    background: #fff;
}
main #wrap .main5 .main5_bg .employ_left .more_btn{
    padding: 17px 40px;
    background: #F37321;
    color: #fff;
    border-radius: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

main #wrap .main5 .main5_bg .employ_left .more_btn p:first-child {
    font-size: 1.125rem;
    padding-right: 15px;
}
main #wrap .main5 .main5_bg .employ_left .more_btn:hover p:last-child {
background: url(../img/btn_right_orange2.png) no-repeat;
}
main #wrap .main5 .main5_bg .employ_left .more_btn:hover img {
    opacity: 0;
}
main #wrap .main5 .main5_bg .employ_right {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}
main #wrap .main5 .main5_bg .employ_right .right_top {
    background: url(../img/main5_2.png);
    width: 490px; height: 185px;
}
main #wrap .main5 .main5_bg .employ_right > a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    padding-right: 10px;
}
main #wrap .main5 .main5_bg .employ_right > a > h3 {
    font-size: 1.875rem;
    font-family: '한화b';
    padding-bottom: 10px;
}
main #wrap .main5 .main5_bg .employ_right .right_top:hover {
    transform: scale(1.1);

}
main #wrap .main5 .main5_bg .employ_right .right_top {
}
main #wrap .main5 .main5_bg .employ_right .right_btm:hover {
    transform: scale(1.1);
}
main #wrap .main5 .main5_bg .employ_right .right_btm {
    background: url(../img/main5_2.png);
    width: 490px; height: 185px;
}
main #wrap .main5 .main5_bg .employ_right .right_btm h3 {}
main #wrap .main5 .main5_bg .employ_right .right_btm h3 p {}
/* footer */

main #wrap .main5 #footer {
    background:#262626;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
    padding: 38px 0;
}
main #wrap .main5 #footer .footer_all {
    width: 1200px; margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
main #wrap .main5 .footer_all .footer_right {
    width: 980px;
}
main #wrap .main5 .footer_all  .f_top {
display: flex;
flex-flow: row nowrap;
justify-content: space-between;
align-items: center;
border-bottom: 1px solid white;
padding-bottom: 10px;
}
main #wrap .main5 .footer_all .f_top h1 {}
main #wrap .main5 .footer_all .f_top h1 img {width: 100%;}
main #wrap .main5 .footer_all .f_top .f_top_left {
    width: 394px;
    display: flex;
    justify-content: space-between;
}
main #wrap .main5 .footer_all .f_top .f_top_left li {


}
main #wrap .main5 .footer_all .f_top .f_top_left li a {color: #fff;}
main #wrap .main5 .footer_all .f_top .f_top_left li a em {
    font-weight: 700;
}
main #wrap .main5 .footer_all .f_top .f_top_right {}
main #wrap .main5 .footer_all .f_top .f_top_right .group_list {background: #262626;
    border: 1px solid #F37321;
    color: #F37321;
    padding: 3px;
}
main #wrap .main5 .footer_all .f_top .f_top_right .group_list:hover {
}
main #wrap .main5 .footer_all .f_btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:10px ;
}
main #wrap .main5 .footer_all .f_btm .f_btm_left {}
main #wrap .main5 .footer_all .f_btm .f_btm_left p {}
main #wrap .main5 .footer_all .f_btm .f_btm_left p {}
main #wrap .main5 .footer_all .f_btm .f_btm_right {
}
main #wrap .main5 .footer_all .f_btm .f_btm_right a {
    margin-left: 20px;
}
main #wrap .main5 .footer_all .f_btm .f_btm_right a img {}
